body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(abstract-dark-3d-rendered-geometric-600nw-217413286.webp) no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px; /* Adicionando a unidade de medida */
    box-sizing: border-box; /* Box-sizing para melhorar o modelo de caixa */
}

.container {
    max-width: 1000px;
    margin: 90px 150px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.459); /* Ajuste a transparência conforme necessário */
    box-shadow: 0 0 20px rgba(253, 253, 253, 0.959);
    border-radius: 8px;
}

h1 {
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #ffffff;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #f7efef;
}

p {
    margin-bottom: 20px;
    color: #000000;
}

a {
    color: #020202;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}
