
.navbar {
    background-color: #f1eeee;
    overflow: hidden;
    position: relative;
   }
   

   .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   }
   

   .navbar a:hover {
    background-color: #ddd;
    color: rgb(241, 235, 235);
   }
   
   .navbar a.active {
    background-color: #ffffff;
    color: white;
   }